:root {
  --color1: #e0c097;
  --color2: black;
  --color3: #eeeeee;
  --color4: #dddddd;
  --color5: #393e46;
  --color6: #2a0944;
  --color7: #3fa796;
  --color8: #a10035;
  --color9: #ef5b0c;
  --color10: #ff0063;
  --color11: #7d1e6a;
}

@media screen and (max-width: 281px){

  .connection{
    display: none;
    } 

    .cv{
      position: absolute;
    width:90%;
    height: auto;
    top:40%;
    left:50%;
    transform: translate(-50%,-25%);
    display: block;
     } 

  .dropdown{
    margin-right: 0 !important;
  }
  .dropdown-menu {
    margin-left: -3.5rem;
   }

   .personInformation{
    position: absolute;
    top:0rem;
    left:0rem;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    box-shadow:#dddddd 15px 0px 10px 1px inset;
    
  }
   .personInformationIn{
    top:1px;
    left:1px;
    width: 100px;
    height: 100px;
  }
  
  
  .cardContain {
    top: 55%;
    left: 50%;
    width: 80%;
    height: 80%;
  }

  .box1{
    position: absolute;
    top:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-top-left-radius: 10px;
  
  }
  .box2{
    position: absolute;
    bottom:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-left-radius: 10px;
  
  }
  .box3{
    position: absolute;
    top:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-top-right-radius: 10px;
  
  }
  .box4{
    position: absolute;
    bottom:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-right-radius: 10px;
  
  }


  .card-text{
    font-size:10px;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
   }

   .card-body{
    padding:0.5rem;
   }
   .card-title,.card-subtitle{
    margin-left: 0rem;
    font-size: 15px;
    text-align: center;
   }
   .navbar-nav{
    left:5.5rem;
     transform: scale(0.82); 
  gap:0.5rem
   
}

 tr{
  transform: scale(0.9);
 }


.carousel-control-next, .carousel-control-prev{
  margin: 0 1rem;
} 

.carousel-item video {
  width: 9rem !important
 
}

}

@media screen and (min-width: 281px) and (max-width: 376px) {

  .connection{
    display: none;
   } 
    .cv{
     position: absolute;
   width:90%;
   height: auto;
   top:35%;
   left:50%;
   transform: translate(-50%,-25%);
   display: block;
    } 
  .dropdown{
    margin-right: 0 !important;
  }
  .dropdown-menu {
    margin-left: -3.5rem;
   }

   .personInformation{
    position: absolute;
    top:0rem;
    left:0rem;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    box-shadow:#dddddd 15px 0px 10px 1px inset;
    
  }
   .personInformationIn{
    top:1px;
    left:1px;
    width: 150px;
    height: 150px;
  }
  
  .cardContain {
    top: 55%;
    left: 50%;
    width: 90%;
    height: 80%;
  }

  .box1{
    position: absolute;
    top:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-top-left-radius: 10px;
  
  }
  .box2{
    position: absolute;
    bottom:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-left-radius: 10px;
  
  }
  .box3{
    position: absolute;
    top:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-top-right-radius: 10px;
  
  }
  .box4{
    position: absolute;
    bottom:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-right-radius: 10px;
  
  }
 
  .card-text{
    font-size:12px;
    border-radius: 5px;
    padding: 1.5rem;
    width: 100%;
    height: 85%;

   }

   .card-body{
    padding:0.5rem;
  
   }
   .card-title,.card-subtitle{
    margin-left: 2rem;
    text-align: center;
   }
   .navbar-nav{
    left:9.5rem;
     transform: scale(1.1);  
}
.fa-user,
.fa-briefcase {
  transform: translate(-50%, -50%) scale(1.3);
}


 tr{
  transform: scale(0.9);
 }
 
.carousel-control-next, .carousel-control-prev{
  margin: 0 1rem;
} 
.carousel-item video {
  width: 13rem !important
 
}
}

@media screen and (min-width: 376px) and (max-width: 389px) {

  .connection{
    display: none;
   } 
   .cv{
     position: absolute;
   width:90%;
   height: auto;
   top:50%;
   left:50%;
   transform: translate(-50%,-25%);
   display: block;
    } 
  .dropdown{
    margin-right: 0 !important;
  }
  .dropdown-menu {
    margin-left: -3.5rem;
   }

   .personInformation{
    position: absolute;
    top:0rem;
    left:0rem;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    box-shadow:#dddddd 15px 0px 10px 1px inset;
    
  }
   .personInformationIn{
    top:1px;
    left:1px;
    width: 150px;
    height: 150px;
  }
 
  .cardContain {
    top: 55%;
    left: 50%;
    width: 80%;
    height: 80%;
  }

  .box1{
    position: absolute;
    top:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-top-left-radius: 10px;
  
  }
  .box2{
    position: absolute;
    bottom:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-left-radius: 10px;
  
  }
  .box3{
    position: absolute;
    top:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-top-right-radius: 10px;
  
  }
  .box4{
    position: absolute;
    bottom:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-right-radius: 10px;
  
  }

  .card-text{
    border-radius: 5px;
    padding: 1.5rem;
    width: 100%;
    height:85%;
    text-align: justify;
    word-spacing:1px;
    
   }

   .card-body{
    padding:0.5rem;
  
   }
   .card-title,.card-subtitle{
  text-align: center;
   }
   .navbar-nav{
    left:10.5rem;
     transform: scale(1.2);  
}

.fa-user,
.fa-briefcase {
  transform: translate(-50%, -50%) scale(1.2);
}

 tr{
  transform: scale(0.9);
 }

.carousel-control-next, .carousel-control-prev{
  margin: 0 1rem;
} 

.carousel-item video {
  width: 13rem !important
 
}
}

@media screen and (min-width: 389px) and (max-width: 576px) {

  .connection{
    display: none;
   } 
   .cv{
     position: absolute;
   width:90%;
   height: auto;
   top:28%;
   left:50%;
   transform: translate(-50%,-25%);
   display: block;
    } 
  .dropdown{
    margin-right: 0 !important;
  }
  .dropdown-menu {
    margin-left: -3.5rem;
   }

   .personInformation{
    position: absolute;
    top:0rem;
    left:0rem;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    box-shadow:#dddddd 15px 0px 10px 1px inset;
    
  }
   .personInformationIn{
    top:1px;
    left:1px;
    width: 150px;
    height: 150px;
  }
 
  .cardContain {
    top: 55%;
    left: 50%;
    width: 80%;
    height: 80%;
  }

  .box1{
    position: absolute;
    top:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-top-left-radius: 10px;
  
  }
  .box2{
    position: absolute;
    bottom:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-left-radius: 10px;
  
  }
  .box3{
    position: absolute;
    top:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-top-right-radius: 10px;
  
  }
  .box4{
    position: absolute;
    bottom:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-right-radius: 10px;
  
  }

  .card-text{
    border-radius: 5px;
    padding: 1.5rem;
    width: 100%;
    height:85%;
    text-align: justify;
    word-spacing:1px;
    
   }

   .card-body{
    padding:0.5rem;
  
   }
   .card-title,.card-subtitle{
  text-align: center;
   }
   .navbar-nav{
    left:10.5rem;
     transform: scale(1.2);  
}

.fa-user,
.fa-briefcase {
  transform: translate(-50%, -50%) scale(1.2);
}

 tr{
  transform: scale(0.9);
 }

.carousel-control-next, .carousel-control-prev{
  margin: 0 1rem;
} 

.carousel-item video {
  width: 13rem !important
 
}
}


@media screen and (min-width: 576px) and (max-width: 650px) {

  .connection{
    left:50%;
    transform: translate(-50%,-40%) scale(.9); 
    } 
  .dropdown{
    margin-right: 0 !important;
  }
  .dropdown-menu {
    margin-left: -3.5rem;
   }

   .personInformation{
    position: absolute;
    top:0rem;
    left:0rem;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    box-shadow:#dddddd 15px 0px 10px 1px inset;
    
  }
   .personInformationIn{
    top:1px;
    left:1px;
    width: 150px;
    height: 150px;
  }
 
  .cardContain {
    top: 55%;
    left: 50%;
    width: 80%;
    height: 80%;
  }

  .box1{
    position: absolute;
    top:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-top-left-radius: 10px;
  
  }
  .box2{
    position: absolute;
    bottom:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-left-radius: 10px;
  
  }
  .box3{
    position: absolute;
    top:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-top-right-radius: 10px;
  
  }
  .box4{
    position: absolute;
    bottom:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-right-radius: 10px;
  
  }


  .card-text{
    font-size:15px;
    border-radius: 5px;
    padding: 1.5rem;
    width: 100%;
    height: 85%;

   }

   .card-body{
    padding:0.5rem;
  
   }
   .card-title,.card-subtitle{
  
    text-align: center;
   }
   .navbar-nav{
    left:11rem;
     transform: scale(1.2);  
}

.fa-user,
.fa-briefcase {
  transform: translate(-50%, -50%) scale(1.3);
}


}
@media screen and (min-width: 650px) and (max-width: 700px) {
  .connection{
    left:50%;
    transform: translate(-50%,-30%) scale(.9); 
    font-size: 13px;
    } 
  
  .dropdown{
    margin-right: 1rem !important;
    transform: scale(1.1);
  }
  .dropdown-menu {
    height: 70px;
    margin-left: -3.5rem;
   }

   .personInformation{
    position: absolute;
    top:0rem;
    left:0rem;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    box-shadow:#dddddd 15px 0px 10px 1px inset;
    
  }
   .personInformationIn{
    top:1px;
    left:1px;
    width: 150px;
    height: 150px;
  }
  
  .cardContain {
    top: 55%;
    left: 50%;
    width: 80%;
    height: 80%;
  }

  .box1{
    position: absolute;
    top:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-top-left-radius: 10px;
  
  }
  .box2{
    position: absolute;
    bottom:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-left-radius: 10px;
  
  }
  .box3{
    position: absolute;
    top:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-top-right-radius: 10px;
  
  }
  .box4{
    position: absolute;
    bottom:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-right-radius: 10px;
  
  }

  .card-text{
    font-size:15px;
    border-radius: 5px;
    width: 100%;
    height: 80%;
   }

   .card-body{
    padding:0.5rem;
  
   }
   .card-title,.card-subtitle{
  
    text-align: center;
   }
   .navbar-nav{
    left:12.5rem;
     transform: scale(1.2);  
}

.fa-user,
.fa-briefcase {
  transform: translate(-50%, -50%) scale(1.3);
}

}
@media screen and (min-width: 700px) and (max-width: 768px) {

  .dropdown{
    margin-right: 1rem !important;
    transform: scale(1.1);
  }
  .dropdown-menu {
    height: 70px;
    margin-left: -3.5rem;
   }

   .personInformation{
    position: absolute;
    top:0rem;
    left:0rem;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    box-shadow:#dddddd 15px 0px 10px 1px inset;
    
  }
   .personInformationIn{
    top:1px;
    left:1px;
    width: 150px;
    height: 150px;
  }
  
  .cardContain {
    top: 55%;
    left: 50%;
    width: 80%;
    height: 80%;
  }

  .box1{
    position: absolute;
    top:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-top-left-radius: 10px;
  
  }
  .box2{
    position: absolute;
    bottom:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-left-radius: 10px;
  
  }
  .box3{
    position: absolute;
    top:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-top-right-radius: 10px;
  
  }
  .box4{
    position: absolute;
    bottom:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-right-radius: 10px;
  
  }

  .card-text{
    font-size:15px;
    border-radius: 5px;
    width: 100%;
    height: 80%;
   }

   .card-body{
    padding:0.5rem;
  
   }
   .card-title,.card-subtitle{
  
    text-align: center;
   }
   .navbar-nav{
    left:12.5rem;
     transform: scale(1.2);  
}

.fa-user,
.fa-briefcase {
  transform: translate(-50%, -50%) scale(1.3);
}

}
@media screen and (min-width: 768px) and (max-width: 820px) {
  
  
  .dropdown{
    margin-right: 1rem !important;
    transform: scale(1.2);
  }
  .dropdown-menu {
    margin-left: -3.5rem;
   }

   .personInformation{
    position: absolute;
    top:0rem;
    left:0rem;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    box-shadow:#dddddd 15px 0px 10px 1px inset;
    
  }
   .personInformationIn{
    top:1px;
    left:1px;
    width: 200px;
    height: 200px;
  }
  .cardContain {
    top: 55%;
    left: 50%;
    width: 80%;
    height: 85%;
  }

  .box1{
    position: absolute;
    top:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-top-left-radius: 10px;
  
  }
  .box2{
    position: absolute;
    bottom:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-left-radius: 10px;
  
  }
  .box3{
    position: absolute;
    top:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-top-right-radius: 10px;
  
  }
  .box4{
    position: absolute;
    bottom:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-right-radius: 10px;
  
  }

  .card-text{
    font-size:15px;
    border-radius: 5px;
    width: 100%;
    height: 80%;
  

   }

   .card-title,.card-subtitle{
  
    text-align: center;
   }
   .navbar-nav{
    left:12.5rem;
     transform: scale(1.2);  
}

.fa-user,
.fa-briefcase {
  transform: translate(-50%, -50%) scale(1.3);
}

   
}
@media screen and (min-width: 820px) and (max-width: 850px) {
  

  .dropdown{
    margin-right: 1rem !important;
    transform: scale(1.2);
  }
  .dropdown-menu {
    margin-left: -3.5rem;
   }

   .personInformation{
    position: absolute;
    top:0rem;
    left:0rem;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    box-shadow:#dddddd 15px 0px 10px 1px inset;
    
  }
   .personInformationIn{
    top:1px;
    left:1px;
    width: 200px;
    height: 200px;
  }
  
  .cardContain {
    top: 55%;
    left: 50%;
    width: 80%;
    height: 80%;
  }

  .box1{
    position: absolute;
    top:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-top-left-radius: 10px;
  
  }
  .box2{
    position: absolute;
    bottom:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-left-radius: 10px;
  
  }
  .box3{
    position: absolute;
    top:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-top-right-radius: 10px;
  
  }
  .box4{
    position: absolute;
    bottom:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-right-radius: 10px;
  
  }
  .card-text{
    font-size:17px;
    border-radius: 5px;
    width: 100%;
    height: 90%;
   }

  .card-title,.card-subtitle{
  
    text-align: center;

   }

   .navbar-nav{
    left:12.5rem;
     transform: scale(1.2);  
}

.fa-user,
.fa-briefcase {
  transform: translate(-50%, -50%) scale(1.3);
}

}
@media screen and (min-width: 850px) and (max-width: 912px) {
 
  .dropdown{
    margin-right: 1rem !important;
    transform: scale(1.2);
  }
  .dropdown-menu {
    margin-left: -3.5rem;
   }

   .personInformation{
    position: absolute;
    top:0rem;
    left:0rem;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    box-shadow:#dddddd 15px 0px 10px 1px inset;
    
  }
   .personInformationIn{
    top:1px;
    left:1px;
    width: 200px;
    height: 200px;
  }
  
  .cardContain {
    top: 55%;
    left: 50%;
    width: 80%;
    height: 80%;
  }

  .box1{
    position: absolute;
    top:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-top-left-radius: 10px;
  
  }
  .box2{
    position: absolute;
    bottom:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-left-radius: 10px;
  
  }
  .box3{
    position: absolute;
    top:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-top-right-radius: 10px;
  
  }
  .box4{
    position: absolute;
    bottom:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-right-radius: 10px;
  
  }
  .card-title,.card-subtitle{
  
    text-align: center;

   }
   .card-text{
    font-size:18px;
    border-radius: 5px;
    width: 100%;
    height: 90%;
   }


   .navbar-nav{
    left:15rem;
     transform: scale(1.2);  
}

.fa-user,
.fa-briefcase {
  transform: translate(-50%, -50%) scale(1.3);
}

}

@media screen and (min-width: 912px) and (max-width: 1024px) {
 

  .dropdown{
    margin-right: 1rem !important;
    transform: scale(1.2);
  }
  .dropdown-menu {
    margin-left: -3.5rem;
   }

   .personInformation{
    position: absolute;
    top:0rem;
    left:0rem;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    box-shadow:#dddddd 15px 0px 10px 1px inset;
    
  }
   .personInformationIn{
    top:1px;
    left:1px;
    width: 200px;
    height: 200px;
  }
 
  .cardContain {
    top: 55%;
    left: 50%;
    width: 80%;
    height: 80%;
  }

  .box1{
    position: absolute;
    top:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-top-left-radius: 10px;
  
  }
  .box2{
    position: absolute;
    bottom:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-left-radius: 10px;
  
  }
  .box3{
    position: absolute;
    top:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-top-right-radius: 10px;
  
  }
  .box4{
    position: absolute;
    bottom:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-right-radius: 10px;
  
  }
  .navbar-nav{
    left:15rem;
     transform: scale(1.2);  
}
.card-text{
  font-size:18px;
  border-radius: 5px;
  width: 100%;
  height: 90%;
 }

.fa-user,
.fa-briefcase {
  transform: translate(-50%, -50%) scale(1.3);
}


}
@media screen and (min-width: 1024px) and (max-width: 1100px) {
 

  .dropdown{
    margin-right: 1rem !important;
    transform: scale(1.2);
  }
  .dropdown-menu {
    margin-left: -3.5rem;
   }

   .personInformation{
    position: absolute;
    top:0rem;
    left:0rem;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    box-shadow:#dddddd 15px 0px 10px 1px inset;
    
  }
   .personInformationIn{
    top:1px;
    left:1px;
    width: 200px;
    height: 200px;
  }
  
  .cardContain {
    top: 55%;
    left: 50%;
    width: 80%;
    height: 80%;
  }

  .box1{
    position: absolute;
    top:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-top-left-radius: 10px;
  
  }
  .box2{
    position: absolute;
    bottom:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-left-radius: 10px;
  
  }
  .box3{
    position: absolute;
    top:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-top-right-radius: 10px;
  
  }
  .box4{
    position: absolute;
    bottom:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-right-radius: 10px;
  
  }
 

}
@media screen and (min-width: 1100px) and (max-width: 1279px) {

  .dropdown{
    margin-right: 1rem !important;
    transform: scale(1.2);
  }
  .dropdown-menu {
    margin-left: -3.5rem;
   }

   .personInformation{
    position: absolute;
    top:0rem;
    left:0rem;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    box-shadow:#dddddd 15px 0px 10px 1px inset;
    
  }
   .personInformationIn{
    top:1px;
    left:1px;
    width: 200px;
    height: 200px;
  }
  
  .cardContain {
    top: 55%;
    left: 50%;
    width: 80%;
    height: 80%;
  }

  .box1{
    position: absolute;
    top:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-top-left-radius: 10px;
  
  }
  .box2{
    position: absolute;
    bottom:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-left-radius: 10px;
  
  }
  .box3{
    position: absolute;
    top:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-top-right-radius: 10px;
  
  }
  .box4{
    position: absolute;
    bottom:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-right-radius: 10px;
  
  }


}
@media screen and (min-width: 1280px){

  .dropdown{
    
    transform: scale(1);
  }
  .dropdown-menu {
     height:75px;
   }

   .personInformation{
    position: absolute;
    top:3rem;
    left:5rem;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    box-shadow:#dddddd 15px 0px 10px 1px inset;
    
  }
   .personInformationIn{
    top:1px;
    left:1px;
    width: 200px;
    height: 200px;
  }
 
  .cardContain {
    top: 55%;
    left: 50%;
    width: 70%;
    height: 70%;
  }

  .box1{
    position: absolute;
    top:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-top-left-radius: 10px;
  
  }
  .box2{
    position: absolute;
    bottom:-2rem;
    left: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-left-radius: 10px;
  
  }
  .box3{
    position: absolute;
    top:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-top-right-radius: 10px;
  
  }
  .box4{
    position: absolute;
    bottom:-2rem;
    right: -1rem;
    width: 90px;
    height: 90px;
    border-bottom-right-radius: 10px;
  
  }


  #ligth div {

    display: block;
  }
  .connection{
    display: none;
  }
  .cv{
    display: block;
  }
}









